/* Header container */
.header {
  width: 100vw; /* full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #ff6b81, #ff4757);
  padding: 15px 40px;
  color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  box-sizing: border-box; /* so padding doesn’t add extra width */
  position: fixed;
}






/* Navigation list */
.nav_list {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}


